.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topInsights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
