.Data {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(127deg, rgba(6, 11, 38, 0.74) 28.26%, rgba(26, 31, 55, 0.50) 91.2%);
    backdrop-filter: blur(60px);
    padding: 20px;
    width: 252px;
    justify-content: space-between;
}
.Data .Data-Left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 5px;
}
.Data .Data-Left .Data-Left-Main h1 {
    font-size: 18px;
}
.Data .Data-Left .Data-Left-Main p {
    font-size: 13px;
}
.Data .Data-Right {
    background-color: #0075FF;
    padding: 10px;
    border-radius: 10px;
}