.Auth {
    display: flex;
    flex-direction: row;
}
.Auth-Poster {
    background-image: url(../../assets/images/auth-background.png);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    position: absolute;
    max-width: 600px;
    padding: 0px 60px;
    bottom: 0;
    top: 0;
}
.Auth-Poster h1.Auth-Poster-Title {
    font-size: 26px;
}
.Auth-Form {
    position: absolute;
    width: 740px;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: #0F123B;
}