.HomePage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.HomePage-Data-Section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}