.Dashboard {
    display: flex;
    flex-direction: row;
    background: #060B26;
    top: 0;
    bottom: 0;
    color: white;
    background: url(../../assets/images/dashboard-background.png);
    background-position: center;
    background-size: cover;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
}
.Main-Section {
    position: relative;
    width: 100%;
}